*, *:after, *:before {
  box-sizing: border-box;
}

body {
	font-family: 'Marvel', sans-serif;
	max-width: 1000px;
	background-color: black;
}

header h1 {
	font-size: 4em;
	font-weight: 700;
	text-align: center;
	color: white;
	background-color: red;
	margin: 0 auto;
	border: 0;
	padding: 0;
}

/* -------------------------------------- */

#main {
	width: 50em;
	margin: 0 auto;
	padding: 0;
	border: 0;
	background-color: white;
	display: flex;
	flex-flow: column;
	align-items: center;
}

#question-header {
	font-weight: 700;
	font-size: 2em;
	text-align: center;
	margin: 0 auto;
	padding: 0.3em 0;
	background-color: white;
}

#question {
	margin: 0 1em;
	padding: 1em;
	border: 2px solid black;
	font-size: 1.25em;
	font-weight: 700;
}

#choices {
	padding: 0;
	display: flex;
	flex-flow: column;
}

#choices li {
	list-style: none;
	border: 2px solid black;
	flex-basis: 100%;
	padding: 0.75em;
	margin: 0.3em 1em;
	vertical-align: middle;
}

#score {
	color: gray;
	display: inline;
	padding: 0;
	margin: 0;
}


/* -------------------------------- */
footer {
	width: 50em;
	margin: 0 auto;
	background-color: white;
}

#btn-next {
	background-color: red;
	color: white;
}

#btn-restart {
	background-color: red;
	color: white;
}

