*, *:after, *:before {
  box-sizing: border-box;
}

body {
	font-family: 'Marvel', sans-serif;
	max-width: 1200px;
}

header h1 {
	font-size: 4em;
	font-weight: 700;
	background-color: red;
	color: white;
}

#main {
	width: 42em;
	border: 1px solid blue;
}

#main h2 {
	text-align: center;
	width: 100%;
	border: 1px solid yellow;
}

#question {
	border: 1px solid orange;
}

#choices {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: flex-start;
	margin: 0;
	padding: 0;
}

#choices li {
	/*width: 50%;*/
	flex: 1 1 0;
	list-style: none;
	border: 1px solid black;
	margin: 0.75em;
}

#wrapper {
	border: 1px solid black;
}

#main div {
	border: 1px solid red;
	width: 50%;
    height: 50%;
    float: left;
    padding: 10px;
    margin-right: 2px;
}

#btn-next {
	background-color: red;
	color: white;
}