header {
	/*max-width: 50em;*/
	margin: 0 auto;
}

header h1 {
	font-size: 4em;
	font-weight: 700;
	text-align: center;
	color: white;
	background-color: red;
	margin: 0 auto;
	border: 0;
	padding: 0;
}

@media only screen and (max-width: 415px) {
 	header h1  {
		font-size: 2em;
	}
}
