*, *:after, *:before {
  box-sizing: border-box;
}

body {
	font-family: 'Marvel', sans-serif;
	background-color: black;
}

// header {
// 	/*max-width: 50em;*/
// 	margin: 0 auto;
// }
//
// header h1 {
// 	font-size: 4em;
// 	font-weight: 700;
// 	text-align: center;
// 	color: white;
// 	background-color: red;
// 	margin: 0 auto;
// 	border: 0;
// 	padding: 0;
// }
//
// @media only screen and (max-width: 415px) {
//  	header h1  {
// 		font-size: 2em;
// 	}
// }

/* -------------------------------------- */

#main {
	max-width: 50em;
	margin: 0 auto;
	padding: 1em;
	border: 0;
	background-color: white;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: flex-start;
}

#question-header {
	font-weight: 700;
	font-size: 2em;
	text-align: center;
	margin: 0 auto;
	padding: 0.3em 0;
	background-color: white;
}

#question {
	width: 100%;
	margin: 0 1em;
	padding: 0.50em;
	border: 2px solid black;
	font-size: 1.60em;
	font-weight: 700;
	text-align: center;
	background-image: url("../images/question-mark-background-01.jpg");
	background-position: center;
	background-size: cover;
}

#choices {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-around;
	padding: 1em;
}

.choice {
	flex: 1 1 auto;
	border: 2px solid black;
	margin: 1em;
	padding: 0.5em;
	cursor: pointer;
}

@media only screen and (max-width: 515px) {
 	.choice  {
		width: 100%;
	}
}

.choice input {
	display: none;
}

.choice-text {
	display: block;
	font-size: 1.25em;
	margin: 0;
	border: 0;
	padding: 0;
	vertical-align: middle;
	text-align: center;
}

.choice:hover {
	background-color: #DDDDDD;
}

.choice-selected {
	background-color: #DDDDDD;
}






/*#score {
	color: gray;
	display: inline-block;
	text-align: right;
	padding: 0;
	margin: 0;
}
*/




#game-over {
	max-width: 50em;
	margin: 0 auto;
	background-color: white;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: flex-start;
	padding: 1em;
}

#game-over h2 {
	text-align: center;
	font-size: 5em;
	text-transform: uppercase;
	padding: 0;
	margin: 0;
}

#game-over h3 {
	font-size: 2em;
	margin: 1em;
	text-align: center;
}

#game-over img {
	margin: 1em auto;
}

@media only screen and (max-width: 515px) {
 	#game-over img {
		width: 300px;
	}
}

#game-over button {
	width: 6em;
}

#nav {
	padding: 1em;
	text-align: center;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
}

#btn-next {
	width: 7em;
	height: 3em;
	margin-bottom: 2em;
	font-size: 2em;
	padding: 0;
}

#btn-restart {
	background-color: red;
	color: white;
	text-shadow: none;
	border: none;
	width: 5em;
	height: 1.5em;
}

#btn-confirm {
	display: none;
	background-color: red;
	color: white;
	text-shadow: none;
	border: none;
	margin: 1em;
}

#btn-cancel {
	display: none;
}

#restart-warning {
	display: none;
}
